@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Threshold du responsive 
$tablette: 1279px;
$mobile: 620px;
$hybride: 948px; // Pour certaines parties ou on veut un rendu mobile même sur tablette

$gris : #3D3D3D;
$blanc: #ffffff;

$grisclair: #EFEFEF;

$clairpicto: #CCDFD7;
$foncepicto: #218771;
$vcb: #CFFFED;
$blancv: #FBFFFE;
$vertvibrant: #00D2A4;
$vertfonce: #004C3C;
$vtc: #E9FFF7;
$noirvert: #212423;

@mixin titre($size, $weight, $style,$margin : 0, $padding : 0, $line-height : normal, $color: $noirvert) {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    color: $color;
    margin:$margin;
    padding:$padding;
    line-height: $line-height;
}
  
@mixin texte($size,$weight,$style, $line-height : 130%) {
font-family: "Nunito", sans-serif;
font-optical-sizing: auto;
font-weight: $weight;
font-style: $style;
font-size: $size;
color: $noirvert;
line-height: $line-height;
  }

@mixin bouton($color, $bg, $border, $padding, $height, $width) {
    text-decoration: none;
    color: $color;
    background-color: $bg;
    border:solid 1px $border;
    padding: $padding;
    height: $height;
    width: $width;
    &:hover {
        background-color: $color;
        color: $bg;
    }
}

@mixin liste($type:ul) {
    @if $type == "ul" {
        list-style-type: disc;
    }
    @if type == "ol" {
        list-style-type: decimal;
    }
    li {
        margin-left: 1.1rem;
    }
}