[data-section="À propos"] {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        column-gap: 1.25rem;
        align-items: start;
        margin-top: 6rem;
        @media (max-width:var.$tablette) {
            column-gap: 0.5rem;
            margin-top: 3rem;
        }
        [data-content="Équipe"] {
            grid-column: 3 / 7;
            display: grid;
            grid-template-columns: subgrid;
            @media (max-width:var.$hybride) {
                grid-column: 2 / 12;
                justify-items: center;
            }
            @media (max-width:var.$mobile) {
                grid-column: span 12;
                margin: 0 0.5rem;
            }
            h3 {
                grid-column: span 3;
                @media (max-width:var.$hybride) {
                    grid-column: span 10;
                }
                &:nth-child(2) {
                    font-weight: 600;
                }
            }
            div {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: span 3;
                margin-top: 45px;
                @media (max-width:var.$hybride) {
                    grid-column: span 10;
                    display: flex;
                    width: 100%;
                    gap: 1rem;
                    justify-content: center;
                }
                img {
                    height: 212px;
                    width: 100%;
                    object-fit: cover;
                    grid-column: span 1;
                    @media (max-width:var.$hybride) {
                        width: 30%;
                    }
                }
            }
        }
        [data-content="Identité de marque"]{
            grid-column: 7 / 11;
            @media (max-width:var.$hybride) {
                grid-column: 2 / 12;
                justify-items: center;
                margin-top: 2rem;
            }
            @media (max-width:var.$mobile) {
                grid-column: span 12;
                margin: 2rem 0.5rem;
            }
            [data-content="Principe"] {
                margin-bottom: 4.5rem;
                h4 {
                    text-decoration: none;
                    font-weight: 500;
                    span {
                        color: var.$rouge;
                        border-bottom:solid  3px var.$rougetrois;
                        padding-bottom: 0.3rem;
                    }
                }
            }
        }
        [data-content="Formulaire de contact"]{
            grid-column: 1 / 13;
        }

}