.headerus {
    width: 100%;
    display: flex;
    flex-direction: column;
    [data-topheader] {
        background-color: var.$vcb;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        padding:0.5rem 1rem;
        section {
            display: flex;
            a {
                display: flex;
            }
        }
        [data-coordonees] {
            margin-right: auto;
            a {
                text-decoration: none;
                &:first-of-type {
                    margin-right: 1rem;
                }
            }
        }
        [data-search] {
            a {
                color: var.$foncepicto;
            }
        }
        [data-contact] {
            margin-left: auto;
        }
    }
    [data-logo] {
        margin: 0.75rem auto;
    }
    [data-mainmenu] {
        [data-items] {
            position: relative;
            [data-arrow] {
                height: 25px;
                width: 24px;
                position: absolute;
                left: -2rem;
                &::before {
                    content: 'Je veux';
                    position: absolute;
                    height: 1rem;
                    top: -1.5rem;
                    left: -1rem;
                    width: 10rem;
                    color: var.$noirvert;
                    font-size: 1rem;
                    font-weight: 700;
                }
                img {
                    height: 25px;
                    width: 24px;
                }
            }
            display: flex;
            flex-direction: row;
            gap: 1.75rem;
            list-style: none;
            height: 1.75rem;
            width: 1160px;
            margin: 0 auto;
            background-color: var.$foncepicto;
            [data-item] {
                margin: 0;
                padding: 0 0.5rem;
                a {
                    text-decoration: none;
                    width: 100%;
                    font-size: 1rem;
                }
            }
            [data-item="active"] {
                background-color: var.$blanc;
                a {
                    font-weight: 700;
                    color: var.$foncepicto;
                }
            }
            [data-item="inactive"] {
                background-color: var.$foncepicto;
                a {
                    font-weight: 400;
                    color: var.$vtc;
                }
            }
        }
        [data-subitems] {
            display: flex;
            flex-direction: row;
            list-style: none;
            height: 1.75rem;
            width: 1160px;
            margin: 0 auto;
            li {
                margin: 0;
                &:first-child {
                    padding-left: 0.5rem;
                }
                [data-separator] {
                    margin:0 1rem ;
                }
            }
            a {
                text-decoration: none;
                font-size: 1rem;
                &:hover {
                    text-decoration: dotted;
                }
            }
        }
    }
}